.product-block {
    width: 30%;
    padding: 12px;


}

.product-block:hover{
    transform: scale(1.03);
    box-shadow: 0 0 5px 0.05px rgb(124, 124, 124);
}
.product-block{
    transition-duration: 200ms;
}

.product-block img {
    width: 100%;
}

.image-des {
    line-height: 1.7em;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}